﻿@model FileIndexViewModel

@{
    ViewData["Title"] = "My Files";
}

<div class="text-center py-3">
    <h1 class="display-4">My Files</h1>
    <a asp-action="Upload" class="btn btn-outline-primary">Upload</a>
</div>

@if (Model.Files.Any())
{
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            @if (TempData.ContainsKey("Success"))
            {
                <div class="alert alert-success" role="alert">
                    @Html.Raw(TempData["Success"])
                </div>
            }
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th class="d-none d-md-block">Last modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in Model.Files)
                        {
                            <tr>
                                <td>@file.Name</td>
                                <td>@file.Type</td>
                                <td class="d-none d-md-block">@file.LastModified</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1"
                                                type="button"
                                                class="btn btn-primary btn-sm dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            More...
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a asp-action="Share"
                                               asp-route-id="@file.Id"
                                               class="dropdown-item">Share</a>
                                            <a asp-action="Download"
                                               asp-route-id="@file.Id"
                                               class="dropdown-item"
                                               target="_blank">Download</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p class="text-center text-muted" style="font-size: 20px;">You have no files right now... the sadness... 😭</p>
}
