﻿@model ShareViewModel

@{
    ViewData["Title"] = "File Share";
}

<h1 class="text-center display-4 py-3">@ViewData["Title"] - @Model.Name</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter email address">
                <small class="form-text text-muted">You can only share files with Gmail users.</small>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea asp-for="Message" class="form-control" rows="8" placeholder="Add a message (optional)"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Share</button>
        </form>
    </div>
</div>
