﻿@model UploadCommand

@{
    ViewData["Title"] = "File Upload";
}

<h1 class="text-center display-4 py-3">File Upload</h1>

@if (User.Identity.Name.EndsWith("@gmail.com"))
{
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="FileName">File Name</label>
                    <input asp-for="FileName" class="form-control" placeholder="Enter file name">
                </div>
                <div class="form-group">
                    <label asp-for="FormFile">Example file input</label>
                    <input asp-for="FormFile" class="form-control-file">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
}
else
{
    <p class="text-center text-muted" style="font-size: 20px;">⌛ File upload for non-gmail users coming soon!</p>
}
