﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Welcome to Simple Transfer</h1>
    <p class="text-muted" style="font-size: 1.2rem;">The simple way to transfer files around the world.</p>
    <p class="p-2">
        <a class="btn btn-lg btn-primary m-2" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn btn-lg btn-outline-primary m-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </p>
</div>
